.social-icons  {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    transition: transform 0.9s ease;
}

.fa-brands:hover {
    transform: scale(1.30);
}

h1  {
    font-family: "Yeseva One", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #11212b;
    color: #ffffff;
    line-height: 1.6;
}

h2 {
    margin-left: 7%;
    font-family: "Yeseva One", serif;
    font-weight: 700;
    font-style: normal;
}

.blue {
    color: #10cf94;
}

h3 {
    font-family: "Montserrat", sans-serif;
    margin-left: 7%;
    font-weight: 400;
    color: rgb(90, 90, 90);
}

a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    margin-left: -3%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
    transition: transform 1.2s ease;
}

.cat li:hover {
    transform: scale(1.10);
    background-color: #10cf94; 
    color: white; 
    padding: 4px 12px; 
}

.nature {
    background-color: #10cf94; 
    color: white; 
    padding: 4px 12px; 
}

/* #projet {
    background-color: #10cf94; 
    color: white; 
    padding: 4px 12px; 
} */

.allimages {
    margin-left: 6%;
    margin-right: 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); 
    grid-gap: 10px; 
    margin: 0 6%; 
}

.allimages img {
    width: 100%;
}

.allimages img {
    transition: transform 0.7s ease;
}

.allimages img:hover {
    transform: scale(0.90);
}

@media screen and (max-width: 768px) {
    .allimages {
        grid-template-columns: repeat(3, 1fr); 
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .allimages {
        grid-template-columns: repeat(5, 1fr);
}
}

.note {
    margin-left: 80%;
    font-family: "Yeseva One", serif;
    font-weight: 800;
    font-style: normal;
}

.fin {
    font-family: "Yeseva One", serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(255, 255, 255);
}
